{% extends 'base.html' %}

{% block content %}

<br>
<p class="fs-2 text-center">Selamat Datang di</p>
<br>
<h1 class="display-1 text-center fw-bold">SIDIK PO</h1>
<p class="fs-5 text-center">Sistem Prediksi Kuantitas Penggunaan Obat</p>
<br> <br>
<div class="row justify-content-center">
    <div class=" col-sm-4">
        <img src="{{ image }}" class="img-fluid rounded" alt="Image">
            <!-- https://www.freepik.com/free-photo/medical-supplies-items-composition-blue-surface-stack-pill-packs-top-view_13854339.htm#query=medicine&position=0&from_view=search&track=sph#position=0&query=medicine -->
    </div>
</div>

{% endblock %}